.com-conductor-player-row {

  &.mode-follow {     --active-color: green; }
  &.mode-free_play {  --active-color: orange; }
  &.mode-lead {       --active-color: red; }

  & > td {

    line-height:        1.5rem;
    min-width:          2rem;
    padding:            0 0.5ch;
    vertical-align:     middle;

    &.name {

      font-weight:      bold;
    }

    &.chord {

      font-family:      serif;
      text-align:       center;
      text-transform:   uppercase;

      &.is-active {

        background-color: var(--active-color);
        color:            white;
      }
    }
  }
}
